.sidebar {
  position: relative;
  background-color: var(--sidebar-bg-color);
  transition: all .4s ease-in-out;

  &.close__menu {
    width: 80px;
  }
  
  &.open__menu {
    width: 240px;
  }

  & .sidebar__link {
    position: relative;
    color: var(--sidebar-link-color);;
    background-color: var(--sidebar-link-bg-color);
    transition: all .4s ease-in;

    &:hover, &.active {
      color: white;
      background-color: var(--sidebar-item-active);
    }

    &.collapsed {
      & .sidebar__link__icon {
        position: absolute;
        left: calc(50% - 12px);
      }
    }

    & .fade-enter-active, & .fade-leave-active {
      transition: opacity .4s;
    }

    & .fade-enter, & .fade-leave-to {
      opacity: 0;
    }
  }

  & .sidebar__collapse {
    position: absolute;
    top: 2rem;
    right: -1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: var(--sidebar-item-active);

    & i {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    z-index: 10;
    height: 100lh;

    &.close__menu {
      transform: translateX(-240px);
    }

    & .sidebar__collapse {
      display: none;
    }
  }
}